<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.povidalo.dashboard" >

    <permission
        android:name="ru.povidalo.dashboard.watchdog"
        android:label="@string/app_name"
        android:description="@string/app_name"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="ru.povidalo.dashboard.watchdog" />

    <application
        tools:replace="android:supportsRtl,android:allowBackup"
        tools:node="merge"
        android:allowBackup="false"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        android:screenOrientation="landscape"
        android:name="ru.povidalo.dashboard.Dashboard"
        android:process="ru.povidalo.dashboard">

        <activity
            android:name="ru.povidalo.dashboard.activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
